body{
    margin: 0;
    padding: 0;
    background: rgb(147, 64, 224);
}
.card{
   width: 350px;
   height: 500px;
   border: 1px solid white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./images/621482.jpg);
   background-size: cover;
   background-position: center;
   padding: 20px 10px;
   
}
.card h1{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: seashell;

}
.mail{
    border: solid white 1px;
    width: 100%;
    height: 30px;
    border-radius: 20px;
    background: transparent;
    margin-bottom: 10px;
    color:white;
    outline: none;
    font-weight: 600;
}
.submit-btn{
    position: relative;

}
.submit-btn::after{
    content: "\27a4";
    color: tomato;
    height: 32px;
    width: 32px;
    position: absolute;
    font-size: 17px;
    right: -1px;
    top: -1px;
    border-radius: 50%;
    background: white;
    line-height: 32px;
}
button{
    border: solid white 1px;
    width: 100%;
    height: 30px;
    border-radius: 20px;
    background: transparent;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
}
::placeholder{
    text-align: center;
    color: white;
   
}
span{
    color: white;
    font-size: 14px;
}
.btn{
    margin-top: 50px;

}
.card a{
    color: white;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    text-align: center;
}
